@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';

@import 'variables-dark';
@import 'blockquotes';
@import 'code';
@import 'report';
@import 'technologies';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    background-color: $background-color;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    color: $font-color;
}


/* Placement */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    flex: 1 0 auto;
    display: inline-block;
    margin-left: 100px;
    max-width: 1000px;
    padding-right: 50px;
    color: $font-color;
    margin-bottom: 50px;

    img {
        margin-top: 30px;
    }
}

.footer {
    flex: 0 0 auto;
}

/* Header */

.site-header {
    display: flex;
    background-color: $background-color;
}

.logo-image {
    max-width: 100px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    display: inline;
}


/* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $nav-footer-color;
    height: 54px;
} 

li {
    float: left;
}
  
li a {
    display: block;
    color: $font-color;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
li a:hover {
    background-color: $accent-color;
}

.active {
    background-color: $accent-color;
}

/* Title */

.title {
    margin-top: 50px;
    margin-left: 30px;
}


.title * {
    color: $font-color;
    text-decoration: none;
}

.title p {
    font-style: italic;
}


/* Footer */

.footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: $nav-footer-color;
    margin-top: auto;
}

.footer p {
    color: $font-color;
}

.footer a {
    color: $font-color;
}

/* Typografy */

* {
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}

body {
    line-height: 1.5rem;
    color: #444;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
}

img {
    max-width: 100%;
    filter: opacity(75%);
}

.icon {
    width: 30px;
}

.social {
    display: flex;
}

@import 'media-queries';
