@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';

@import 'variables';
@import 'blockquotes';
@import 'code';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    background-color: $background-color;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}


/* Placement */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    flex: 1 0 auto;
    display: inline-block;
    margin-left: 100px;
    max-width: 1000px;
    padding-right: 50px;

    img {
        margin-top: 30px;
    }
}

.footer {
    flex: 0 0 auto;
}

/* Header */

.site-header {
    display: flex;
}

.logo-image {
    max-width: 300px;
    margin-left: 30px;
}


/* Navbar */

.active {
    border-bottom: solid;
}

.nav-bar {
    color: #fff;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $nav-footer-color;
    margin-bottom: 40px;

    li {
        display: inline;
        font-size: 1.3em;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
    }
}

/* li:hover {
    border-color:#fff;
    
    a {
        color: #fff;
    }
}

 */
/* Title */

.title {
    margin-top: 100px;
}


.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: $nav-footer-color;
    margin-top: 50px;
}

.footer a {
    color: #222;
}

/* Typografy */

* {
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}

body {
    line-height: 1.5rem;
    color: #444;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

@import 'media-queries';
