.technologies {
    display: grid;
    gap: 1em 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.technologies h1 {
    grid-column: span 3;
    justify-self: center;
}

.tech-box {
    text-align: center;
    background-color: $accent-color;
    padding: 20px 0 20px 10px;
    font-size: 24px;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.tech-project {
    grid-column: span 3;
}

/* Single technology page */ 

.single-technology {
    display: grid;
    gap: 2em;
}

.technology-content {
    grid-column: 2;
}

.technology-sidebar {
    font-size: 20px;
    padding: 10px;
    width: 200px;
    grid-column: 1;
    background-color: rgb(34, 71, 99);

    li {
        list-style-type: none;
        padding: 5px;
    }

    li a {
        text-decoration: none;
        color: #fff;
    }
}
