$font-color: #000;
$font-color-dark: rgba(255, 255, 255, 0.877);
$accent-color: #8f1f00;
$accent-color-dark: #5b1502;
$background-color: #f2faf9;
$background-color-dark: #1f2125;
$nav-footer-color: #005247;
$nav-footer-color-dark: #023730;
