{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="centering-div">
    <div class="main" role="main">
        {{ content }}
    </div>
    </div>
    <div class="shape-container">
    <div class="background-shape"></div>
    </div>
    <div class="shape-container2">
        <div class="background-shape2"></div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
